name: Deploy Hotfix
on:
  release:
    types: [published]

jobs:
  checkReleaseName:
    runs-on: ubuntu-latest
    outputs:
      isHotfix: ${{ steps.check.outputs.result }}
    env:
      CI: true

    steps:
      - name: Check name of release
        uses: actions/github-script@v6
        id: check
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const pattern = /v\d*\.\d*\.\d*-fix\.\d*/;
            const releaseName = '${{ github.event.release.name }}';

            return pattern.test(releaseName);

  deploy:
    runs-on: ubuntu-latest
    if: ${{ needs.checkReleaseName.outputs.isHotfix == true }}
    needs: [checkReleaseName]
    env:
      CI: true

    steps:
      - name: Info
        run: echo ${{ needs.checkReleaseName.outputs.isHotfix }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Setup node
        uses: actions/setup-node@v3

      - name: Release
        env:
          RELEASE: true
        run: echo ${{ env.RELEASE }}
