name: Release Please
on:
  push:
    branches:
      - main

jobs:
  release-please:
    runs-on: ubuntu-latest
    permissions: write-all
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}

    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          release-type: node
          package-name: TEST
          pull-request-title-pattern: "v${version}"

      - name: Info
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            console.log(JSON.stringify(${{ steps.release.outputs }}))

  deploy:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: release-please
    outputs:
      ref: ${{ steps.ref.outputs.result }}
    env:
      CI: true

    steps:
      - name: Find Ref
        id: ref
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          result-encoding: string
          script: |
            const releaseCreated = Boolean(${{ needs.release-please.outputs.releases_created }});
            return releaseCreated ? '${{ needs.release-please.outputs.tag_name }}' : 'release-please--branches--main--components--TEST';

      - name: Info
        run: echo '${{ steps.ref.outputs.result }}'

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ steps.ref.outputs.result }}

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: "npm"
          registry-url: https://npm.pkg.github.com
          scope: "@volkswagen-onehub"

  output:
    runs-on: ubuntu-latest
    permissions: write-all
    needs: deploy

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ needs.deploy.outputs.ref }}

      - name: Create Stacklink
        uses: actions/github-script@v6
        id: stackUrl
        env:
          AWS_HOSTED_ZONE_NAME: ${{ secrets.AWS_HOSTED_ZONE_NAME }}
        with:
          github-token: ${{ github.token }}
          script: |
            let version = '${{ env.head_sha }}'.slice(0, 8);

            if (${{ needs.release-please.outputs.releases_created }}) {
              const ref = '${{ needs.release-please.outputs.tag_name }}'
              version = ref.replace('refs/tags/', '').replace(/\./g, '-');
            }

            const newStackLabel = `${ version }.${{ env.AWS_HOSTED_ZONE_NAME }}`;
            return `[${ newStackLabel }](https://${ newStackLabel })`;

      - name: Info
        run: echo '${{ steps.stackUrl.outputs.result }}'

      - name: Update Release description
        uses: actions/github-script@v6
        if: ${{ needs.release-please.outputs.releases_created }}
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            const { pull_request, repository } = context.payload;
            const newStackLink = '${{ steps.ref.outputs.result  }}'

            const { data: { id, body } } = await github.rest.repos.getReleaseByTag({ owner: repository.owner.login, repo: repository.name, tag: ref });

            const newBody = `${ newStackLink }\n---\n${ body }`;
            await github.rest.repos.updateRelease({owner: repository.owner.login, repo: repository.name, release_id: id, body: newBody});

      - name: Update PR
        uses: actions/github-script@v6
        if: ${{ !needs.release-please.outputs.releases_created }}
        with:
          github-token: ${{ github.token }}
          script: |
            const { repository } = context.payload;
            await github.rest.issues.createComment({ owner: repository.owner.login, repo: repository.name, issue_number: ${{ env.pr_number }}, body: `Deployed to ${ newStackLink }` });

            let { data: { body } } = await github.rest.pulls.get({ owner: repository.owner.login, repo: repository.name, pull_number: ${{ env.pr_number }} });

            if (!body) {
              console.info('No body found');
              return
            }

            if (body.includes(newStackLink)) {
              console.info('Stack link already present');
              return
            }

            const prefix = 'Current Prerelease: ';

            if (body.includes(prefix)) {
              console.info('Cutting first line of body...');

              const firstLineBreakIndex = body.indexOf('\n');
              body = body.substring(body.indexOf('\n', firstLineBreakIndex + 1) + 1);
            }

            body = `${ prefix }${ newStackLink }\n---\n${ body }`;

            await github.rest.pulls.update({ owner: repository.owner.login, repo: repository.name, pull_number: ${{ env.pr_number }}, body });
